<html>
    <body>
        <header>
            <table border width="100%">
                <tr>
                    <td align="center" colspan="2">
                        <h1>Student Management System</h1>
                    </td>
                </tr>
                <tr>
                    <td class="employee-list-cell" ng-click="setEmployeeListView()" align='center'>
                        Employee List
                    </td>
                    <td class="add-employee-cell" ng-click="setAddEmployeeView()" align='center'>
                        Add Employee
                    </td>
                </tr>
            </table>
            <h2>Angular + Spring Boot CURD Full Stack App</h2>
        </header>
    </body>
</html>
